<ul class="navbar-nav flex-grow-1">
    <li class="nav-item">
        <a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="Index">@Localizer["Home"]</a>
    </li>
    @if (User.IsInRole("Administrator"))
    {
        <li class="nav-item">
            <a class="nav-link text-dark" asp-area="Administrator" asp-controller="Projects" asp-action="Index">@Localizer["Projects"]</a>
        </li>
    }
    else
    {
        <li class="nav-item">
            <a class="nav-link text-dark" asp-area="" asp-controller="Projects" asp-action="Index">@Localizer["Projects"]</a>
        </li>
    }
    @if (User.IsInRole("Student") || User.IsInRole("Lecturer"))
    {
        <li class="nav-item">
            <a class="nav-link text-dark" asp-area="" asp-controller="Projects" asp-action="SchedulesInWeek">@Localizer["Schedules In Week"]</a>
        </li>
    }
    @if (User.IsInRole("Lecturer"))
    {
        <li class="nav-item">
            <a class="nav-link text-dark" asp-area="" asp-controller="Statistics" asp-action="Index">@Localizer["Statistics"]</a>
        </li>
    }
</ul>